<h1>Dashboard</h1>
<p>Welcome <%= user%></p>

<a href="/bestmanager">Participate in Best manager</a>
<br><br>
<a href="/solodance">Participate in Solo Dance</a>
<br><br>
<a href="/yourevents">View your events</a>
<br><br>
<a href="/logout">Logout</a>